<div class="card ">
    <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, consectetur sit eos veniam non vel ab. Magnam, libero. Ipsa eaque sequi magnam vitae ut nihil fugit voluptate, voluptates ipsum saepe placeat dolorem quisquam maxime maiores soluta? Facilis omnis quod voluptatum debitis, aspernatur inventore earum temporibus nulla fugit hic iusto aliquam.</p>
    </div>
</div>