<div class="jumbotron inicio">
    <h1 class="display-3">Notes App </h1>
    <p class="lead">Nodejs y MongoDB</p>
    <hr class="my-2">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/AlejoTorres2001/Node_Mongo_Docker_SimpleNoteApp" role="button">Visitar repositorio</a>
    </p>
</div>
